/*字体*/
@import url('//at.alicdn.com/t/font_1050822_3yi0m7mye7k.css');

/* html,body{
    height: 100%;
    overflow: hidden;
    position: relative;
} */
body{
    background-color: #edf1f2;
}
.wrapper{
    margin: 0 auto;
    min-width: 1300px;
}
.main_left{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #302f57;
    color: #FFFFFF;
    width:300px;
    height: 100%;
}
.system_title{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
.doctor_info{
    width: 200px;
    margin: 0 auto;
    border-bottom: 1px solid #777;
}
.doctor_info dl{
    width: 140px;
    margin: 0 auto;
    padding: 20px 0;
}
.doctor_info dl dd{
    text-align: center;
    padding: 8px 0;
    font-size: 15px;
}
.doctor_info dl dd span{
    margin-right: 20px;
    font-size: 17px;
}
.doctor_info dl dt{
    padding-bottom: 30px;
}
.doctor_info dl dt img{
    width: 100%;
    display: block;
}
.doctor_nav ul{
    width: 200px;
    margin: 0 auto;
    padding: 30px 0;
}
.doctor_nav ul li{
    line-height: 60px;
    font-size: 18px;
}
.doctor_nav ul li i{
    margin-right: 12px;
    font-size: 20px;
    padding-left: 10px;
}
.main_right{
    padding: 50px 0 50px 350px;
}
.dashboard dl{
    float: left;
    width: 17.5%;
    height: 125px;
    margin-left: 2%;
    border-radius: 15px;
    position: relative;
}
.dashboard dl dt{
    color: #FFFFFF;
    position: absolute;
    left: 20px;
    top: 50%;
    width: 65px;
    height: 65px;
    border-radius: 65px;
    text-align: center;
    line-height: 65px;
    margin-top: -33px;
}
.dashboard dl dt i{
    font-size: 3em;
}
.dashboard dl dd{
    font-size: 16px;
    text-align: right;
    color: #fff;
    padding-right: 20px;
}
.dashboard dl dd.dashboard_num{
    font-size: 4em;
    padding: 20px 20px 10px;
}
.dashboard dl:first-child{
    margin-left: 0
}
.dashboard dl.consultation{
    background-color: #106fff
}
.dashboard dl.consultation dt{
    background-color: #0d58cb
}
.dashboard dl.referral{
    background-color: #c56c29
}
.dashboard dl.referral dt{
    background-color: #ac5f2b
}
.dashboard dl.intelligent_diagnosis{
    background-color: #6c2dd5
}
.dashboard dl.intelligent_diagnosis dt{
    background-color: #541fb0
}
.dashboard dl.patient{
    background-color: #d83362
}
.dashboard dl.patient dt{
    background-color: #ae1d47
}
.dashboard dl.research{
    background-color: #336699
}
.dashboard dl.research dt{
    background-color: #2a557f
}
.main_right .container{
    padding-top: 25px;
}

.sidebar{
    float: left;
    /* width: 350px; */
    width: 22.5%;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 15px #bbb
}
 .content{
    float: left;
    width: 70.5%;
    margin-left: 2.5%;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 15px #bbb
}
.sidebar_head{
    font-size: 17px;
    font-weight: 600;
    padding: 20px 0 0 20px;
    position: relative;
}
.sidebar_head a{
    font-size: 15px;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #0099FF;
    font-weight: normal;
}
.sidebar_head a i{
    font-size: 17px;
    vertical-align: middle
}
.sidebar_list{
    padding: 10px 20px;
}
.sidebar_list li{
    position: relative;
    padding: 12px 0;
    border-bottom: 1px solid #e4e4e4;
}
.sidebar_list li .item_pic{
    position: absolute;
    left: 20px;
    top: 50%;
    width: 54px;
    height: 54px;
    margin-top: -27px;
}
.sidebar_list li .item_pic img{
    width: 100%;
    display: block;
}
.sidebar_list .item_tit{
    padding: 6px 0 6px 85px;
    font-size: 16px;
}
.sidebar_list .item_info{
    padding-left: 85px;
    font-size: 14px;
}
.sidebar_list li .item_status{
    position: absolute;
    right: 10px;
    top:24px;
}
.sidebar_list li .item_status i{
    font-size:24px;
}
.sidebar_list li i.color-success{
    color: #008000;
}
.sidebar_list li i.color-processing{
    color: #0099ff;
}
.sidebar_list li i.color-over{
    color: #e71e23;
}
.consultation_detail{
    padding: 30px 0;
    width: 92%;
    margin: 0 auto;
    font-size: 14px;
}
.consultation_detail h3{
    line-height: 40px;
    font-size: 16px;
}
.consultation_detail .detail_text{
    padding: 10px 0 20px 50px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 10px;
}
.consultation_detail .detail_text p{
    line-height: 1.8;
}
.sidebar_nav{
    padding: 20px 25px;
}
.sidebar_nav li{
    background: #d7d7d7;
    border-radius: 15px;
    line-height: 46px;
    font-size: 17px;
    margin-bottom: 25px;
    text-align: center
}
.research_detail{
    padding: 35px 20px 35px 35px;
}
.research_detail ul li{
    float: left;
    background-color: #d7d7d7;
    width: 30%;
    margin-right: 1%;
    margin-bottom: 10px;
    padding: 1%;
    border-radius: 15px;
}
.research_detail ul li .research_tit{
    font-size: 15px;
    padding: 3px 0 8px;
    color: #333333;
}
.research_detail ul li .research_tit_en{
    font-size: 12px;
    padding-bottom: 20px;
    color: #666666;
}
.research_date{
    font-size: 13px;
    padding-bottom: 5px;
    color: #666666;
}
.research_detail ul li .research_info{
    border-bottom:1px solid #909090;
}
.research_digital{
    position: relative;
    padding-top: 5px;
}
.research_digital .research_num{
    float: left;
    width: 40%;
    font-size: 15px;
}
.research_digital .research_status{
    position: absolute;
    right: 10px;
    top:17px;
    color: #fff;
    border-radius: 5px;
    padding: 3px 7px;
}
.research_digital div.bg-wait{
    background-color: #0099ff;
}
.research_digital div.bg-processing{
    background-color: #008000;
}
.research_digital div.bg-complete{
    background-color: #999;
}
.research_digital div.bg-fail{
    background-color: #e71e23;
}
.user_content{
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 15px #bbb
}
.user_middle{
    padding:10px 30px 20px;
}
.user_middle h3{
    font-size: 17px;
    font-weight: normal;
    padding: 20px 0;
}
.user_middle .user_detail {
    padding: 0 50px 25px;
    border-bottom: 1px solid #e4e4e4;
}
.user_content .pic_top{
    width: 140px;
    height: 140px;
    border: 1px solid #b4b4b3;
    border-radius: 50%;
    float: left;
    margin-right: 100px;
}
.user_content .pic_top img{
    display: block;
    width: 100%;
}
.user_content .info_top{
    float: left;
    font-size: 16px;
}
.user_content .info_top p{
    padding-top: 15px;
}
.user_form .input_box ul li{
    float: left;
    width: 33%;
}
.user_form .input_box label{
    font-size: 15px;
    line-height: 35px;
    display: inline-block;
}
.user_form .input_box input.input_control{
    border: 1px solid #ddd;
    font-size: 14px;
    border-radius: 3px;
    width: 200px;
    padding: 0 15px;
    height: 35px;
}
.user_form .input_box .textarea_control{
    width: 98%;
    border: 1px solid #ddd;
    font-size: 14px;
    border-radius: 3px;
}
.user_form .form_button{
    padding-top: 30px;
    text-align: center;
}
.user_form .form_button button{
    text-align: center;
    background: #0099ff;
    color: #fff;
    border: none;
    width: 120px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 50px;
    outline: none;
    cursor: pointer;
}
.form_submit h3{
    font-size: 17px;
    font-weight: normal;
    padding: 20px 0;
}
.form_submit{
    padding:10px 40px;
}
.form_submit .input_box ul{
    border-bottom:1px solid #ddd;
    padding-bottom: 30px;
}
.form_submit .input_box input.input_control{
    width: 150px;
}
.form_submit .input_box.textarea_box label{
    float: left;
    width: 10%;
}
.form_submit .input_box .textarea_control{
    float: left;
    width: 88%;
}
.form_submit .input_box label{
    width: 90px;
    text-align: right;
}