<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>会诊详情</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../font/iconfont.css">
    <link rel="stylesheet" href="../../css/consultation.css">
</head>

<body>
    <ul class="consultation-info">
        <li class="consultation-item active">
            <div class="consultation_detail">
                <h3>会诊申请医院信息</h3>
                <div class="detail_text">
                    <span>医院：湖南省肿瘤医院</span>
                    <span>接诊医生：赵孟</span>
                    <span>科室：妇产科</span>
                </div>
                <h3>会诊申请基本信息</h3>
                <div class="detail_text">
                    <span>会诊目的：进一步明确诊断</span>
                    <span>会诊类型：普通会诊</span>
                    <span>会诊团队：子宫肌瘤团队</span>
                </div>
                <h3>患者基本信息</h3>
                <div class="detail_text">
                    <span>姓名：王文君</span>
                    <span>性别：女</span>
                    <span>年龄：32</span>
                </div>
                <h3>患者基本信息</h3>
                <div class="detail_text">
                    <p>主诉：　女性患者，32岁。育龄期妇女，停经近4个月，以“下腹痛2天”为主诉于我院急诊治疗。</p>
                    <p>现病史：　女性患者，32岁。育龄期妇女，停经近4个月，以“下腹痛2天”为主诉于我院急诊治疗。</p>
                    <p>既往史：　既往体健，无外伤及输血史，4年前于当地医院行剖宫产术。</p>
                    <p>初步诊断：　子宫肌瘤</p>
                </div>
            </div>
        </li>
        <li class="consultation-item ">
            <div class="consultation_detail">
                <h3>患者信息资料</h3>
                <div class="detail_down">
                    <span> <img src="../../images/word.svg" alt="该患者基本信息.doc"> 该患者基本信息.doc</span>
                    <span> <img src="../../images/pdf.svg" alt="该患者基本信息.doc"> 患者既往疾病及家族病史.pdf</span>

                </div>
                <h3>患者影像资料</h3>
                <div class="detail_dicom">
                    <div class="fl">
                        <img src="../../images/dicom_01.jpg" alt="dicom">
                    </div>
                    <div class="fl">
                        <img src="../../images/dicom_02.jpg" alt="dicom">
                    </div>
                    <div class="fl">
                        <img src="../../images/dicom_03.jpg" alt="dicom">
                    </div>
                </div>
            </div>
        </li>
        <li class="consultation-item ">
            <div class="consultation_detail">
                <h3>会诊意见</h3>
                <div class="consultation_detail opinions">
                    <p>
                        1.妊娠腹痛诊断和治疗　早期诊断是关键:①认真做好围产期保健和检查工作，发现可诱发急腹症的情况时(如阑尾炎病史、胆囊结石、腹部手术史、卵巢囊肿等)，应详细记录在案并做好防范措施。②妊娠期一旦发生腹膜炎的症状和体征，应及时进行影像学和实验室检查并请相关科室会诊，以免发生误诊。③在尚未确诊时，应严密动态观察病情变化，一旦有体温升高、脉搏加快、呼吸急促或腹膜炎范围增大的趋势，应再次进行相关检查并请有关科室经验丰富的高年资医师会诊，以便早期做出正确诊断。
                    </p>
                    <p>
                        确诊后，如果患者的全身一般情况良好、生命体征稳定、腹膜炎局限且较轻时，可在严密观察病情的前提下和普通外科医师的协助下，采用非手术治疗措施并给予保胎治疗。确诊后，如果全身一般情况较差、生命体征不稳定、腹膜炎范围超过一个象限者，或有体温升高、脉搏加快、呼吸急促或腹膜炎范围有逐渐增大的趋势者，应在短期内迅速纠正全身情况的前提下和在相关科室经验丰富的高年资医师的协助下，尽快施行手术治疗。
                    </p>
                    <p>
                        2.妊娠合并阑尾炎的诊断和治疗　妊娠期合并急性阑尾炎的诊断要点:①转移性右下腹痛是妊娠期急性阑尾炎固有的症状和诊断的重要线索。腹痛以右中、下腹多见，压痛点随孕周而上移，腹肌紧张及反跳痛在孕中晚期不典型，出现明显时常示病情较重。②大多数患者都有不同程度的恶心、呕吐。③多有发热。④白细胞均升高，特别是白细胞≥18×
                        109/L，或中性粒细胞百分数≥80%，有诊断意义。⑤超声检查阑尾呈低回声管状结构，如果其横切面呈同心圆靶样图像且直径≥7. 0mm可确诊，超声诊断妊娠期阑尾炎的准确性与非孕期相同。
                    </p>
                    <p>
                        对妊娠期合并急性阑尾炎应强调早期诊断与及时手术治疗，一旦确诊，应在积极抗感染治疗的同时，立即手术治疗，尤其在妊娠中、晚期。对于妊娠早期无论症状轻重，多采用手术切除阑尾。妊娠中期胎盘已经形成，子宫敏感性降低，流产率较低，应尽早切除病灶，妊娠16～28周是手术最好时机;对于就诊较晚且已形成脓肿、伴高热和中毒症状的妊娠中期患者应及时手术引流，只有那些脓肿已局限、超声提示无脓腔、体温已正常者，可试行非手术治疗并严密观察。对于妊娠晚期高度怀疑合并急性阑尾炎者应及时剖腹探查，有产科指征者可同时行剖宫产。如有阑尾穿孔，应先吸尽脓液再切除阑尾，局部用0.
                        5%甲硝唑液100～200ml清洗吸尽，不宜全腹冲洗，术后一般不放置硬质引流管。术后应继续抗感染治疗，对于继续妊娠者，选择胎儿影响小、敏感的广谱抗生素;甲硝唑对胎儿发育有一定影响，应慎用，妊娠3个月内禁用。术后3～4天应给予抑制宫缩药及镇静药保胎治疗，同时，注意加强胎儿生长发育情况及胎心、胎动变化的监测。
                    </p>
                </div>
            </div>

        </li>
    </ul>
    <div class="consultation-step">
        <i class="iconfont icon-xiangshang1 pre"></i>
        <span class="circle active"></span>
        <span class="circle"></span>
        <span class="circle"></span>
        <i class="iconfont icon-xiangshang next"></i>
    </div>
</body>
<script src="../../js/jquery.min.js"></script>
<script>
    $(function(){
        var $next = $(".next"),
            $pre = $(".pre"),
            $circles = $(".circle");
        var $consultations = $(".consultation-item");

        $next.on("click",function(){
            $.each($circles,function(i,item){
                var $item = $(item);
                if($item.hasClass("active")){
                    var index = $item.index();
                    if(index <3){
                        $circles.removeClass("active");
                        $circles.eq(index).addClass("active");

                        $consultations.removeClass("active");
                        $consultations.eq(index).addClass("active")
                    }

                    return  false
                }
            })
        })

        $pre.on("click",function(){
            
            $.each($circles,function(i,item){
                var $item = $(item);
                if($item.hasClass("active")){
                    var index = $item.index();
                    if(index >  1){
                        $circles.removeClass("active");
                        $circles.eq(index-2).addClass("active");

                        $consultations.removeClass("active");
                        $consultations.eq(index-2).addClass("active")
                    }

                    return  false
                }
            })
        })

    })




</script>
</html>